{% block footer_content %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <div class="col-md-8 span8">
                      <img id="partners-logo" src="/img/partners.png" alt="Partners logo" />
                    </div>
                    <div class="col-md-4 span4 text-center">
                        <p>Powered by
                            <a href="http://ckan.org"><img id="ckan-logo" src="/img/ckan-logo.png" alt="CKAN logo" /></a>
                        </p>
                        <p>Site by
                            <a href="https://derilinx.com"><img id="derilinx-logo" src="/img/derilinxthumb.png" alt="Derilinx logo" />Derilinx</a>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
